$BLUE: #0039a6;
$ORANGE: #ff6319;
$LIME: #6cbe45;
$BROWN: #996633;
$GREY: #a7a8ac;
$YELLOW: #fccc0a;
$RED: #ee352e;
$GREEN: #00933c;
$PURPLE: #b933ad;

$FONT: 'Helvetica', 'Arial';

.blue {
  background-color: $BLUE;
}

.orange {
  background-color: $ORANGE;
}

.lime {
  background-color: $LIME;
}

.brown {
  background-color: $BROWN;
}

.grey {
  background-color: $GREY;
}

.yellow {
  background-color: $YELLOW;
}

.red {
  background-color: $RED;
}

.green {
  background-color: $GREEN;
}

.purple {
  background-color: $PURPLE;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  .stopBtn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    vertical-align: middle;
    text-align: center;
    position: relative;
    margin: 1px;
    p {
      text-align: center;
      font-family: 'Helvetica', 'Arial';
      font-size: 35px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
}

.Marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
  }
}

.stopName {
  left: 10px;
  white-space: nowrap;
  position: relative;
  font-family: $FONT;
  font-size: 15px;
}

.hide {
  display: none;
}

.trainMarker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  background-color: grey;
  border-radius: 13%;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
  }
}

.infoWindow {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: white;
  border: 1 px black;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;

  .infoBtn {
    position: absolute;
    top: 0;
    right: 0;
  }
}
